body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(248, 248, 248);
  color: rgb(172, 217, 245);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(126, 194, 235);
}

.main-nav a:link {
  text-decoration: none;
  color: rgb(87, 34, 13);
}

.main-nav a:visited {
  text-decoration: none;
  color: rgb(87, 34, 13);
}

.main-nav a:active {
  text-decoration: none;
  color: rgb(87, 34, 13);
}

.main-nav a:hover {
  text-decoration: none;
  color: rgb(87, 34, 13);
}

.active a {
  color: #ffffff !important;
}

.site-title {
  color: rgb(0,151,217);
  font-family: Courier New, Courier;
  margin-top: 22px;
}

.site-title h1, h3 {
  color: rgb(0,173,238);
}


.project-description {
  color: rgb(87, 34, 13);
}

.project-description ul {
  margin: 0;
  padding: 0;
}

.project-title {
  color: rgb(172, 217, 245);
}

.project-row-left {
  float: left;
  width: 218px;
  margin-bottom: 20px;
}

.project-row-item {
  margin-left: 20px;
}

.pull-left {
  float: left;
}

.round_corners {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.very_round_corners {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* slider stuff */

/* Pagination */

.pagination {
        margin:16px auto 0;
        width:100px;
}

.pagination li {
        float:left;
        margin:0 1px;
        list-style:none;
}

.pagination li a {
        display:block;
        width:12px;
        height:0;
        padding-top:12px;
        background-image:url(../img/pagination.png);
        background-position:0 0;
        float:left;
        overflow:hidden;
}

.pagination li.current a {
        background-position:0 -12px;
}

.slides_container a {
        width:940px;
        height:360px;
        display:block;
}