<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %} {{ page.title }} | {% endif %}Nicole Worthington, Graphic Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Nicole Worthington">
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700italic,700,300italic,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css" />
  
  <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
  <div style="background-color: rgb(204, 233, 250); height: 140px;">
  </div>
  <div style="width: 940px; margin: 0 auto;">
    <header class="header" style="height: 120px; padding: 10px; margin-top: -140px;">
      <div style="float: left;">
        <img alt="" src="http://placehold.it/220x120">
      </div>
      <nav class="main-nav" style="float: right; margin-top: 90px;">
        <span class='{% if page.url == "./" %} active{% endif %}' style="padding-left: 20px;"><a href="index.html">HOME</a></span>
        <span class='{% if page.url == "/portfolio.html" %} active{% endif %}' style="padding-left: 20px;"><a href="portfolio.html">PORTFOLIO</a></span>
        <span style="padding-left: 20px;"><a href="http://nicoledesignerd.blogspot.com/" target="_blank">BLOG</a></span>
        <span class='{% if page.url == "/about.html" %} active{% endif %}' style="padding-left: 20px;"><a href="about.html">ABOUT</a></span>
        <span class='{% if page.url == "/contact.html" %} active{% endif %}' style="padding-left: 20px;"><a href="contact.html">CONTACT</a></span>
      </nav>
    </header>
    <section class="body" style="margin-top: 50px;">
    
    {{ content }}
    
    </section>
  </div>
</body>
</html>